body {
    margin: 0;
}
table {
    width: 100%;
    height: 50px; /* Only for visualization */
    padding: 0;
}
td {
    width: 50%;
}
.bg-pink { /* Following Tailwind CSS standards */
    background-color: pink;
}